<div class="empresas-container">
  <mat-card class="empresas-card">
    <mat-card-content class="empresas-content">
      <div class="header-container">
        <h2 class="title-text">Gestión de Empresas</h2>
        <button mat-raised-button color="primary" (click)="openDialog()" class="add-button">Agregar</button>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
          <!-- Nombre Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <!-- URL Column -->
          <ng-container matColumnDef="url_P_Web">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> URL Página Web </th>
            <td mat-cell *matCellDef="let element"> {{element.urlPWeb}} </td>
          </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openDialog(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="confirmDelete(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="goToCategories(element.id)">
              <mat-icon>category</mat-icon>
            </button>
          </td>
        </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <mat-paginator [length]="totalEmpresas" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
